.App {
  text-align: center;
  font-family: SpaceMono-Regular, serif;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-flow: row;
}

.yaxis {
  flex-basis: 20%;
}

.yaxis > img {
  width: 180px;
}

.xaxis {
  padding-left: 140px;
}

.xaxis > img {
  width: 1300px;
}

.graph {
  flex-basis: 80%;
}

.link {
  text-align: start;
  padding-left: 30px;
  padding-bottom: 20px;
}

p {
  margin: 20px;
}

.footer {
  padding-bottom: 80px;
  padding-top: 40px;
}

.logos {
  height: 90px;
  width: auto;
  padding-right: 40px;
}

.link-text {
  padding-top: 60px;
}

.icon-label {
  font-size: 0.6em;
  text-align: center;
}

.node:hover {
  cursor: pointer;
}